   <nav>
  
     <ul class="nav nav-buttons pull-right">
       <li role="presentation" class="active"><a class="btn btn-default btn-lg" href="http://www.devpointlabs.com/">Contact Us</a></li>
       <!-- <li role="presentation"><%= link_to "Project", projects_path, class: "nav-text" %></li>
       <li role="presentation"><%= link_to "Task", tasks_path, class: "nav-text" %></li>
     </ul> -->
     </ul>
   </nav>

