
 <div class="btn-toggle btn-default btn-lg">
  <strong><%= link_to 'Projects', projects_path %></strong>
 </div>

<br /><br />

 <nav>
   <ul class="nav nav-buttons pull-middle">
        <li role="presentation" class="active"><a class="btn btn-default btn-lg" href="http://www.devpointlabs.com/">Contact Us</a></li>
   </ul>
 </nav>
